services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    volumes:
      - ./app:/app
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - ENV=production
      - MONGO_URI=mongodb://root:root@db:27017/?authSource=admin
      - DB_NAME=doolar
    depends_on:
      - db
    tty: true
    stdin_open: true

  db:
    container_name: db
    build: 
      context: .
      dockerfile: ./docker/mongo/Dockerfile
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - db-data:/data/db
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:root@db:27017/?authSource=admin
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: root
    depends_on:
      - db

networks:
  default:
    driver: bridge

volumes:
  db-data: {}