services:
  app:
    container_name: app
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ENV=production
      - MONGO_URI=mongodb://db:27017
      - DB_NAME=doolar
    depends_on:
      - db
  
  db:
    container_name: db
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db
    command: --replSet rs0
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data: {}